<!Doctype html>
<html>
  <head>
    <title>
      Rack Server | Users List
    </title>
  </head>
  <body>
    <h1> A list of all the users </h1>
    <%users.each do |row|%>
    <h1>
      <%=row[:name]%> 
    </h1>
    <%end%>
      <%=RUBY_VERSION%>
  </body>
</html>
